absl-py==1.0.0
alembic==1.7.5
aniso8601==9.0.1
astunparse==1.6.3
attrs==21.2.0
cachetools==4.2.4
certifi==2021.10.8
chardet==3.0.4
click==7.1.2
colorama==0.4.4
dnspython==2.1.0
email-validator==1.1.3
et-xmlfile==1.1.0
Flask==2.0.1
Flask-Login==0.5.0
Flask-Migrate==3.1.0
flask-restx==0.5.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
flatbuffers==2.0
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.42.0
gunicorn==20.1.0
h5py==3.6.0
idna==2.10
importlib-metadata==4.8.2
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==4.2.1
keras==2.7.0
Keras-Preprocessing==1.1.2
libclang==12.0.0
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
numpy==1.21.4
oauthlib==3.1.1
opencv-python==4.1.2.30
openpyxl==3.0.9
opt-einsum==3.3.0
panda==0.3.1
pandas==1.3.4
peekingduck==1.1.1
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyrsistent==0.18.0
python-dateutil==2.8.2
python-decouple==3.4
pytz==2021.3
PyYAML==6.0
requests==2.24.0
requests-oauthlib==1.3.0
rpa==1.45.0
rsa==4.8
scipy==1.7.3
six==1.16.0
SQLAlchemy==1.4.23
tagui==1.45.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
tqdm==4.45.0
typing-extensions==4.0.1
urllib3==1.25.11
Werkzeug==2.0.2
wrapt==1.13.3
WTForms==2.3.3
xlrd==2.0.1
zipp==3.6.0